h1 {
  background-color: lightblue;
}

table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   background-color:#ffe5e5;
}

h2 {
  padding: 10px;
  background-color: lightblue;
}  
#description{
  background: lightpink;
  padding: 5px;
  padding-left: 5px;
}

.par{
  background-color:#ffe5e5;
  
}

#syntax{
  background: lightpink;
  padding: 5px;
  padding-left: 5px;
}

.par{
  background-color:#ffe5e5;
}

#example{
  background: lightpink;
  padding: 5px;
  padding-left: 5px;
}

.par{
  background-color:#ffe5e5;
}

.ul{
  background-color:#ffe5e5;
}

.tab{
  background-color:#ffe5e5;
}
