* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
    background-color:#ddd;
    text-align: center;
  
}

#header {
  position: absolute; top:200px; right:500px;
}


.topnav {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    list-style-type: none;
    display: flex;
    justify-content: center;   
}


.topnav a {
	color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #cccccc;
}

.jellyfish {
  position: absolute;
  top: 130px;   
  left: 200px;
}

.shadows {
  position: absolute;
  top: 330px;   
  right: 200px;
}

.palmtrees {
  position: absolute;
  top: 530px;   
  left: 200px;  
}


.trees {
  position: absolute;
  top: 730px;   
  right: 200px; 
}

.kimia {
  position: absolute;
  top: 930px;   
  left: 200px; 
}

.sunset {
  position: absolute;
  top: 1130px;   
  right: 200px;  
}

.painting {
  position: absolute;
  top: 1330px;   
  left: 200px;   
}

.me {
  position: absolute;
  top: 1530px;   
  right: 200px; 
}


.chairs {
  position: absolute;
  top: 1730px;   
  left: 200px;   
}


.footer1 {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 99%;
    margin-bottom: 1%;
}

