.content {
  background-color:#ffffff;
}

.content p {
  font-family:"Ariel", sans-serif;
  color:black;
}

.header {
    font-family: "Times New Roman", Times, serif;
    color: white;
    width: 100%;
    font-style: italic;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 10px;
    line-height: 1.8;
    text-shadow: 3px 2px black;
    background-color: white;
}

.topnav {
  color: black;
  font-family: "Courier New", Monospace;
  font-size: 75%;
}

h3 {
  color: black;
  font-family: "Courier New", Monospace;
  text-align: center;
  text-decoration: none;
}

p {
  color: black;
  font-family: "Courier New", Monospace;
  text-align: center;
  text-decoration: none;
}


.footer4 {
  color: black;
  font-family: "Courier New", Monospace;
  font-size: 75%;
  background-color: white
}
