body {
  background-image: url("https://imrebsw.github.io/images/IMG_3204.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
  background-color:#ffffff;
}

.content p {
  font-family:"Ariel", sans-serif;
  color:black;
}

.header {
    font-family: "Times New Roman", Times, serif;
    color: white;
    width: 100%;
    font-style: italic;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 10px;
    line-height: 1.8;
    text-shadow: 3px 2px black;
}

.topnav {
  color: black;
  font-family: "Courier New", Monospace;
  font-size: 75%;
}

h5 {
    font-family: "Times New Roman", Times, serif;
    color: white;
    width: 100%;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 10px;
    line-height: 1.8;
    text-shadow: 3px 2px black;
    font-size: 100%;
}

table, td {
    border-collapse: collapse;
    border: 1px solid black;
    color: black;
    font-family: "Courier New", Monospace;
    text-align: center;
    text-decoration: none;
}


.footer4 {
  color: white;
  font-family: "Courier New", Monospace;
  font-size: 75%;
}
